doctype html
html(lang="ru")

	head

		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="HandheldFriendly", content="true")
		meta(name="MobileOptimized", content="320")
		meta#main-viewport(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="format-detection", content="telephone=no")
		meta(name="description", content="")

		meta(name="robots", content="index, follow, archive")
		meta(name="googlebot", content="index, follow, archive")
		meta(name="yandex", content="index, follow, archive")

		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
		link(rel="manifest", href="icons/manifest.json")
		link(rel="mask-icon", href="icons/safari-pinned-tab.svg", color="#5bbad5")
		link(rel="shortcut icon", href="icons/favicon.ico")
		meta(name="apple-mobile-web-app-title", content="Grani.Art")
		meta(name="application-name", content="Grani.Art")
		meta(name="msapplication-config", content="icons/browserconfig.xml")
		meta(name="theme-color", content="#095a77")

		title Grani.Art

		<!--[if IE 9]>
		script(src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js")
		script(src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js")
		<![endif]-->

		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/fancyapps-fancybox@2.1.9/source/jquery.fancybox.css")
		link(rel="stylesheet", href="css/common.css")

	body

		include components/topbar
		include components/navbar

		block header

		main.main
			block content

		include components/footer

		script(src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widget.min.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widgets/datepicker.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/i18n/datepicker-ru.js")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js")
		script(src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
		script(src="https://cdn.jsdelivr.net/npm/fancyapps-fancybox@2.1.9/source/jquery.fancybox.pack.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/jquery.matchHeight.js")
		script(src="https://cdn.jsdelivr.net/npm/svgxuse@1.2.6/svgxuse.min.js", defer)
		script(src="js/main.js")
